<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean class="com.bridgeit.dto.Triangle" id="triangle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointc"></property>
	</bean>
	<bean class="com.bridgeit.dto.Circle" id="circle">
		<property name="center" ref="center"></property>
	</bean>
	<bean class="com.bridgeit.dto.Point" id="pointA">
		<property name="x" value="-10"></property>
		<property name="y" value="30"></property>
	</bean>
	<bean class="com.bridgeit.dto.Point" id="pointB">
		<property name="x" value="10"></property>
		<property name="y" value="20"></property>
	</bean>
	<bean class="com.bridgeit.dto.Point" id="pointc">
		<property name="x" value="45"></property>
		<property name="y" value="60"></property>
	</bean>
	<bean class="com.bridgeit.dto.Point" id="center">
		<property name="x" value="0"></property>
		<property name="y" value="10"></property>
	</bean>

</beans>